@import "./normalize.css";

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #6db5d6;
  margin-bottom: 0;
  line-height: 1;
}

h2 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 2.8rem;
  color: #6db5d6;
  margin-bottom: 0;
  line-height: 1;
}

h3 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #6db5d6;
  margin-bottom: 0;
  line-height: 1;
}

body {
  font-family: "Bodoni Moda", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #000;
  letter-spacing: 2px;
  line-height: 1.5;
}

.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #6db5d6, 1px -1px 0 #6db5d6, -1px 1px 0 #6db5d6,
    1px 1px 0 #6db5d6;
}

/* Cloud Hero Container */

.cloud {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 1)
    ),
    url(../images/clouds_background.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud__content {
  inline-size: 600px;
  text-align: center;
  margin: 0 2rem;
}

.cloud__content p {
  padding-bottom: 2rem;
}

/* Buttons */

a {
  text-decoration: none;
}

.btn {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background: #6db5d6;
  color: #fff;
  border: 0;
  border-radius: 50px;
  padding: 15px;
  font-style: italic;
  margin-top: 1rem;
}

.btn:hover {
  background: #fff;
  color: #6db5d6;
}

/* Dream Machine */

.dream-machine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: right;
}

.dream-machine__content {
  margin: 30px;
}

.dream-machine__image {
  width: 100%;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .dream-machine {
    grid-template-columns: 1fr;
  }
}

/* Advantages */

.pros-block {
  padding: 4rem 4rem;
  text-align: right;
}

.pros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.pros__cloud {
  background: url(../images/cloud_illustration.svg);
  background-position: center;
  height: 20rem;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.pros__cloud:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .pros {
    grid-template-columns: 1fr;
  }
}

/* Card */

.plans-block {
  margin: 0 3rem;
  margin-top: 6rem;
  text-align: center;
}

.plans {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: end;
}

.card {
  border-radius: 50px;
  box-shadow: 0 0 80px 20px #eee;
  margin: 0.3rem;
  padding: 1.5rem;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.card1 {
  height: 350px;
}

.card2 {
  height: 400px;
}

.card3 {
  height: 450px;
}

.card img {
  width: 220px;
}

@media screen and (max-width: 768px) {
  .plans {
    grid-template-columns: 1fr;
  }

  .card1,
  .card2,
  .card3 {
    height: 350px;
  }
}

/* Shoutout block */

.shoutout {
  background-image: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.1)
    ),
    url(../images/clouds_background.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shoutout p {
  font-size: 1.3rem;
  color: #6db5d6;
}

@media screen and (max-width: 768px) {
  .shoutout p {
    margin: 2rem;
  }
}
